body{
    font-family: 'VT323';
    background-color: #384137;
}
h1{
    color: #3BB873;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.underline_text {
      
      display: inline;
      padding-bottom: 3px;
}
.well{
    background-color: #406661;
    border-color: #94ED88;
    padding: 5px 5px 5px 5px;
}
.footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
   }  
.p1{
    position: absolute;
    font-size: 32pt;
    top: 35%;                       
    transform: translate(0, -50%) 
    margin: 0;
    text-align: center;
    color:#94ED88;
}
div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
    font-size: 18pt;
    color: #3BB873;
}
div.demo span {
    display: table-cell;
    text-align: center;
}
menu-link{
    color: #3BB873;
}
a{
   color: #3BB873;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a:hover{
           color: black;
       }
       a:active{
           color: green;
       }
.buyme{
    top:50%;
    bottom:50%;
    font-size: 58pt;
    transform: translate(0, -50%) 
    margin: 0;
}
.contactme{
    top:50%;
    bottom:50%;
    font-size: 58pt;
    transform: translate(0, -50%) 
    margin: 0;
}
.neon-green{
    color: #3BB873;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
